

.ListaDeProd{
    display: flex;
    justify-content: center;
    background-color: gray;
    width: 50%;
    margin: auto;
}

h1{
    display: flex;
    justify-content: center;
    margin: auto;
    color: beige;
    background-color: gray;
}