.navbar {
  background-color: #c5c5c5;
}

.navbar-brand {
  color: #5c5c5c;
}

.navbar-logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-color: #7c7c7c;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: #2b6138;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #2b6138;
}
